{
    "root": true,
    "env": {
      "node": true
    },
    "extends": [
      "plugin:vue/essential",
      "eslint:recommended"
    ],
    "rules": {
      "semi": [2, "always"],
      "prefer-const": 2,
      "arrow-body-style": 0,
      "quotes": [2, "single"],
      "eol-last": [1],
      "curly": 2,
      "comma-dangle": [2, "always-multiline"],
      "no-trailing-spaces": [1],
      "no-irregular-whitespace": 1,
      "prefer-template": 1
    },
    "parserOptions": {
      "parser": "babel-eslint"
    }
}